USE [master]
GO
/****** Object:  Database [salon_test]    Script Date: 7/29/2016 3:10:08 PM ******/
CREATE DATABASE [salon_test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'salon_test', FILENAME = N'C:\Users\RubyB\projects\salon\salon_test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'salon_test_log', FILENAME = N'C:\Users\RubyB\projects\salon\salon_test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [salon_test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [salon_test]
GO
USE [salon_test]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 7/29/2016 3:10:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[clients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[treatment] [varchar](255) NULL,
	[stylist_id] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[stylists]    Script Date: 7/29/2016 3:10:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[stylists](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[specialty] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
