<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="/Content/css/styles.css" rel="stylesheet" type="text/css">
    <title>salon</title>
  </head>
  <body>
    <div class="container jumbotron">
      <h2>Update a Stylist's Information</h2>
      <hr />
      <h3>Edit stylist: @Model.GetName()</h3>
      <form action="/stylist/edit/@Model.GetId()" method="post">
        <input type="hidden" name="_method" value="PATCH">
        <input name="stylist-id" type="hidden" value="@Model.GetId()">
        <label for="stylist-name">Stylist name</label>
        <input id="stylist-name" name="stylist-name" type="text">
        <button type="submit">Submit</button>
      </form>
      <h4><a href="/">Return home</a></h4>
    </div>
  </body>
</html>
