<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="Content/css/styles.css" rel="stylesheet" type="text/css">
    <title>salon</title>
  </head>
  <body>
    <div class="container jumbotron">
      <h2>You have successfully added/edited a new Stylist!</h2>
      <p><a href="/">Return to Main Page</a></p>
    </div>
  </body>
</html>
